@{
    ViewBag.Title = "Home";
}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

<div class="row">
    <div class="col-xs-12">
        <!-- Search Table -->
        @Html.Partial("_SearchForm")
        <div id="div3" style="display:none; border-bottom:1px dashed #CC0000; color:blue">Column Reordered!</div>
    </div>
</div>

<div class="row">
    <div class="col-xs-12" id="tableListId">
        @Html.Partial("_TableList")
    </div>
</div>




@section scripts
{
    <script>
        $("#info-demo").click(function () {
            showInfo("This is an info");
            return false;
        });
        $("#success-demo").click(function () {
            showSuccess("This is a success");
            return false;
        });
        $("#error-demo").click(function () {
            showError("this is an error");
            return false;
        });

        var loadAjaxTableList = function () {
            var url = $(this).data('url');
            $.ajax({
                url: url,
                method: 'POST',
                success: function (data) {
                    $("#div3").fadeIn();
                    $("#div3").fadeOut();
                    $('#tableListId').html(data);
                    loadAllXeditable();
                }
            })
        };

        $('#tableListId').on('click', 'button', loadAjaxTableList)

    </script>
}

@section head
{
    @Styles.Render("~/Scripts/LyncPresence/styles/main.css")
}

@Scripts.Render("~/bundles/custom")



