@using System.Configuration

<li>
    <a id="btnGuideTour" title="Guide Tour" data-placement="bottom" data-trigger="guidetour" data-url="/ATP/GuideTour/GetGuideTourForUrl"
       data-controller="@ViewContext.RouteData.Values["controller"].ToString()"
       data-application="@ConfigurationManager.AppSettings["applicationName"]"
       style="height: 5px;margin-top: 9px;padding:5px 10px 25px 10px;"
       data-action="@ViewContext.RouteData.Values["action"].ToString()" class="btn btn-default">
        <i class="fa fa-question"></i>
    </a>
</li>


