@{
    ViewBag.Title = "404 - Not Found";
}

<h2>Ooops, looks like this page does not exist, good ol' 404</h2>

<div class="row-fluid">
    <div class="span9" style="margin: 0 auto; float: none; text-align: center;">
        <img src="~/Content/images/404.jpg" alt="404" />
    </div>
</div>