
@using Amaris.Select2.HtmlHelpers
@using Amaris.XEditable.Extensions
@{
    ViewBag.Title = "_ModalCategoryCreatePopup";
}


<div class="modal-header">
    <h4 class="modal-title" id="myModalLabel">Create Category</h4>
</div>
<div class="modal-body">    
</div>
