@model GATE_MaterialCategory

@{
    ViewBag.Title = "Create Category";
}
@*@using (Html.BeginForm())*@
@using (Ajax.BeginForm("CreateCategory", "categoryName", new AjaxOptions { HttpMethod = "POST", OnSuccess = "createNewCategory" },
    new { @class = "form-horizontal" }))
{
    @Html.AntiForgeryToken()
    <div class="modal-body" style="z-index: 9999">
        <div class=" control-group">
        <label class="control-label">Category Name: </label>
        <div class="controls">
            <input type="text" name="categoryName" form-control">
        </div>
    </div>
    </div>

    <div class="modal-footer">
        <input type="submit" class="btn btn-primary" value="Create" />
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
    </div>
}


@section Scripts
{
    @Scripts.Render("~/bundles/material")
}

